<span id="switch_menu_bar" class="nav navbar-text" data-bind="visible: isAdmin"  style="display: none; font-size: 22px">
	
  <a href="#"  class="pull-right" style="padding-right: 14px;" data-bind="click: toggleMute">
    <span data-bind="style: { color: isMute }"><i class="icon-bullhorn"></i></span>
  </a>
  
  <a href="#" class="pull-right" style="padding-right: 14px" data-bind="click: toggleLights">
    <span data-bind="style: { color: isLights }"><i class="icon-lightbulb"></i></span>
  </a>

  <a href="#" class="pull-right" style="padding-right: 14px" data-bind="click: togglePower">
    <span data-bind="style: { color: isPower }"><i class="icon-off"></i></span>
  </a>

</span>
