<span id="switch_menu_bar" class="nav navbar-text" data-bind="visible: isAdmin"  style="display: none; font-size: 22px">

  <a href="#" title="Power off after printing finish"  class="pull-right" style="padding-right: 14px;" data-bind="click: togglePowerOff">
    <span data-bind="style: { color: willPowerOff  }"><i class="icon-remove-sign"></i></span>
  </a>

  <a href="#"  title="Unload Fillament when printing is done" class="pull-right" style="padding-right: 14px; padding-left: 15px;" data-bind="click: toggleUnload">
    <span data-bind="style: { color: willUnload }"><i class="icon-external-link"></i></span>
  </a>
  	
  <a href="#"  title="Mute printer" class="pull-right" style="padding-right: 14px;" data-bind="click: toggleMute">
    <span data-bind="style: { color: isMute }"><i class="icon-bell"></i></span>
  </a>
  
  <a href="#" title="IR LED lights" class="pull-right" style="padding-right: 14px" data-bind="click: toggleLights">
    <span data-bind="style: { color: isLights }"><i class="icon-lightbulb"></i></span>
  </a>

  <a href="#" title="Printer power" class="pull-right" style="padding-right: 14px" data-bind="click: togglePower">
    <span data-bind="style: { color: isPower }"><i class="icon-off"></i></span>
  </a>



</span>
